@import "bootstrap";

header {
    position: relative;
    height: 350px;
    overflow: hidden;
    background-color: $gray;

    > .banner-background {
        position: absolute;
        left: 0;
        top: -10%;
        width: 100%;
        opacity: 0.5;
    }

    .banner {
        padding: 0 20px;
        text-align: center;
        color: $white;
        z-index: 2;
    }

    @include media-breakpoint-up(xl) {
        height: 450px;
        > .banner-background {
            top: -40%;
        }
    }

    @include media-breakpoint-between(md, lg) {
        > .banner-background {
            width: 1200px;
            transform: translate(-35%, 0%);
            left: 35%;
            top: -120px;
        }
    }

    @include media-breakpoint-down(sm) {
        > .banner-background {
            width: 800px;
            transform: translate(-35%, 0%);
            left: 35%;
        }
    }
}

nav.navbar > .container {
    @include media-breakpoint-down(sm) {
        margin-left: unset;
        margin-right: unset;
    }
}


section {
    @include make-container();
    @include make-container-max-widths();

    margin-top: 2em;
    margin-bottom: 2em;
}

.anchor:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 4em;
    margin-top: -4em;

    @include media-breakpoint-down(md) {
        // To accommodate the expanded navbar
        height: 10em;
        margin-top: -10em;
    }
}

.box {
    height: 2000px;
}
